<html>

<!-- <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head> -->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Bus</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <div *ngFor="let check of SelectSeat" style="float: left;padding: 10px">
    <li class="row row--1">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="{{check.seat}}A" [disabled]="check.disabledcheck" [(ngModel)]="check.modelcheck" (click)="bookticket(check.seat,check.modelcheck)"
          />
          <label for="{{check.seat}}A" style="padding: 10px">{{check.seat}}</label>
        </li>
      </ol>
    </li>
  </div> -->

  <h3>Select your seats</h3>
  <div class="row">
    <div class="plane">
      <div class="container">
        <div class="row">
          <div class="seating">
            <!-- Row1 -->
            <div class="col-md-12">
              <div class="col-md-2">
                <ol class="seats" type="A">
                  <li class="seat">
                    <input type="checkbox" disabled id="A" />
                    <label for="A">A</label>
                  </li>
                </ol>
              </div>
              <div class="col-md-2">
                <ol class="seats" type="B">
                  <li class="seat">
                    <input type="checkbox" disabled id="B" />
                    <label for="B">B</label>
                  </li>
                </ol>
              </div>
              <div class="col-md-2">
                <ol class="seats" type="B">
                  <li class="seat">
                    <input type="checkbox" disabled id="C" />
                    <label for="C">C</label>
                  </li>
                </ol>
              </div>
              <div class="col-md-2">
                <ol class="seats" type="B">
                  <li class="seat">
                    <input type="checkbox" disabled id="D" />
                    <label for="D">D</label>
                  </li>
                </ol>
              </div>

              <div class="col-md-2">
                <ol class="seats" type="B">
                  <li class="seat">
                    <input type="checkbox" disabled id="Dr" />
                    <label for="Dr" style="margin-left: 83px; background-color:  red;">
                      <ion-icon name="custom-steering-wheel"></ion-icon>
                    </label>
                  </li>
                </ol>
              </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <!-- Row-2 -->
            <div class="col-md-12">
              <div class="col-md-1" *ngFor="let check of SelectSeat; index as i;">
                <ol class="seats" type="A">
                  <li class="seat">
                    <input type="checkbox" id="{{check.seat}}A" [disabled]="check.disabledcheck" [(ngModel)]="check.modelcheck" (click)="bookticket(check.seat,check.modelcheck)"
                    />
                    <label for="{{check.seat}}A">{{check.seat}}</label>
                  </li>
                </ol>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div>
    <button ion-button full color="primary" (click)="confirmtickets()">Confirm Seats</button>
    <button ion-button full color="secondary" (click)="trackbus()">Track your bus</button>
  </div>
</ion-content>

</html>
