<ion-header>
    <ion-navbar color="primary">
      <ion-title>Welcome</ion-title>
      <ion-buttons end>
          <button ion-button tappable (click)="logout()">
            <ion-icon name="custom-logout"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
<ion-content padding>
  <ion-item>
    <ion-label>Select Trip</ion-label>
    <ion-select [(ngModel)]="trip" (ionChange)="changelocation(trip)">
      <ion-option *ngFor="let trip of tripList" [value]="trip.bustrip_id">{{ trip.trips }} - {{trip.bus_num}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>From location</ion-label>
    <ion-select [(ngModel)]="locationfrom" (ionChange)="changefromlocation(locationfrom)">
      <ion-option *ngFor="let locationfrom of locationlist" [value]="locationfrom.bustriplocid">{{ locationfrom.location }}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>To Location</ion-label>
    <ion-select [(ngModel)]="locationto">
      <ion-option *ngFor="let locationto of locationtolist" [value]="locationto.bustriplocid">{{ locationto.location }}</ion-option>
    </ion-select>
  </ion-item>
  <button (click)="findBus()" ion-button full color="light">Find a Bus</button>
  <br>

  <!-- Seat selection div -->
  <ion-item>
    <div id="busDetail" style="display:none;">
      <div>
        <h3>Select your seats</h3>
      </div>

      <div *ngFor="let check of SelectSeat" style="float: left;padding: 10px">
        <li class="row row--1">
          <ol class="seats" type="A">
            <li class="seat">
              <input type="checkbox" id="{{check.seat}}A" [disabled]="check.disabledcheck" [(ngModel)]="check.modelcheck"   (click)="bookticket(check.seat,check.modelcheck)" />
              <label for="{{check.seat}}A"  style="padding: 10px">{{check.seat}}</label>
            </li>
          </ol>
        </li>
      </div>

      <!-- <div>
        <ol *ngFor="let check of SelectSeat">
          <li class="row row--1">
            <ol class="seats" type="A">
              <li class="seat" display:inline>
                <input type="checkbox" id="1A" />
                <label for="1A">{{check.seat}}</label>
              </li>
            </ol>
          </li>
        </ol>
      </div> -->

      <div>
        <br>
        <button ion-button full color="primary" (click)="confirmtickets()">Confirm Seats</button>
        <button ion-button full color="primary" (click)="trackbus()">Track your bus</button>
        <!-- <button ion-button full color="primary" (click)="resetseats()">Reset Seats</button> -->
      </div>
    </div>

  </ion-item>
</ion-content>
